global:
  scrape_interval: 15s # 기본 메트릭 수집 주기
  evaluation_interval: 15s # 규칙 평가 주기

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus' # Spring Boot Actuator의 Prometheus 엔드포인트
    scheme: http
    static_configs:
      - targets:
#          - 'localhost:8080'
          - 'host.docker.internal:8080' # 접근 할 URL
