global:
  scrape_interval: 15s # 기본 메트릭 수집 주기
  evaluation_interval: 15s # 규칙 평가 주기

scrape_configs:
  - job_name: 'spring-boot-app'
    metrics_path: '/actuator/prometheus' # Spring Boot Actuator의 Prometheus 엔드포인트
    scheme: https
    static_configs:
      - targets:
          - 'test.mildo.xyz'
