cloud:
  aws:
    credentials:
      access-key: "${S3_ACCESS_KEY}"
      secret-key: "${S3_SECRET_KEY}"
    region:
      static: ap-northeast-2
    s3:
      bucket: "${BUCKET}"
    stack:
      auto: false

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: "${DB_URL}"
    username: "${DB_USERNAME}"
    password: "${DB_PASSWORD}"

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: "${GOOGLE_ID}"
            client-secret: "${GOOGLE_SECRET}"
            redirect-uri: "${REDIRECT_URI}"
            scope: profile, email
            authorization-grant-type: authorization_code

logging.level:
  org.hibernate.SQL: debug

management:
  endpoints:
    enabled-by-default: true  # Spring Boot 3.x에서는 필수
    web:
      exposure:
        include: "prometheus" # 특정 Actuator 엔드포인트를 웹에 노출
  endpoint:
    prometheus:
      enabled: true

domain:
  front: "${FRONTEND_DOMAIN}"
  back: "${BACKEND_DOMAIN}"